*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid gray; */
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body{
    margin: 0 15%;
}
:root{
    --color-primario:#FB8F1D;
    --collor-secundario:hsl(30, 99%, 91%);
    --color-tercero:rgb(184, 190, 205);
}
button{
    outline: none;
}
/* nav li:nth-of-type(4){
    margin-right: 5px;
} */
nav{
    font-family: 'Lato', sans-serif;
    padding: 20px;
    display: flex;
    justify-content: space-between; /* espacio entre los items */
    align-items: center;
}
/* > solo los primeros img */
nav>img{
    max-width: 50%;
   /* justify-content: flex-start;  Espacacio horizontales */
}
.container{
    max-width: 1200px;
    margin: 0 auto;  /* 0 arriba y abajo, auto a los costados*/    
}
.btn-register{
    background-color: var(--color-primario);
    border-radius: 7px;
    border: 1px solid var(--color-primario);
    /* border-color:var(--color-primario); */
    color: white;
    padding: 8px 18px;
    cursor: pointer;
    margin-right: 20px;
    
    /* -webkit-text-stroke: 0.5px black; */
}
.btn-login{
    background-color:white;
    border-radius: 7px;
    border: 1px solid var(--color-primario);
    /* border-color:var(--color-primario); */
    color:var(--color-primario);
    padding: 8px 18px;
    cursor: pointer;
    margin-left: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    padding: 10px;
    list-style: none;
}

/* RWD MENU */

#check{
    position: absolute;
    visibility: hidden; /* No se ve en la pagina */
    z-index: -99;
}

.menu{
    transition: 0.5s;
}
.show-menu-btn, .hide-menu-btn{
    cursor: pointer;
    font-size: 20px;
    display: none;
}
/* HEADER */
header{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 100px;
    /* padding: 10px; */
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
}
section{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    margin-top: 100px;
    margin-bottom: 100px;
    /* padding: 10px; */
    justify-content: space-between;
}
.img-header{
    max-width: 80%;
    padding: 30px;
    /* margin-left: 100px; */
    display: block;
    margin: auto;
}
.header-contenido{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin: auto;
    height: 100%;
    width: 40%;
    line-height: 70px; */
    justify-content: space-evenly;
    width: 40%;
    padding: 20px;
    margin-left: 100px;
    margin-bottom: 120px;
    margin-top: 0;

}
.btn-search{
    background-color:var(--color-primario);
    border-radius: 7px;
    border: 1px solid var(--color-primario);
    color:white;
    padding: 8px 18px;
    cursor: pointer;
    /* margin: 0 30%; */
    width: 40%;
    min-width: 150px;
}
div>input{
    /* border: 0; */
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-tercero) ;
}
header h1{
    font-size: 45px;
    font-family: 'Merriweather', serif;
}
section h1{
    font-size: 35px;
    font-family: 'Merriweather', serif;
}
.li_disabled{
    color: #B8BECD;
    font-size: 16px;
}
.section-contenido{
    display: flex;
    flex-direction: column;
    max-width: 35%;
    margin-right: 100px;
    /* margin-top: 10px; */
    justify-content: center;
    margin-left: 50px;

}
section p{
    font-family: 'Lato', sans-serif;
    margin: 25px 0;
    text-align: justify;
    color: var(--color-tercero);
}
.img-section{
    max-width: 80%;
    display: block;
    margin: auto;
}
.section-lugares{
    display: flex;
    flex-direction: column;
}
.section-top{
    font-family: 'Merriweather', serif;
    display: flex;
    justify-content: space-between; /* espacio entre los items */
    align-items: center;
    margin: 20px 0;
}
section a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: var(--color-primario);
    font-weight: bold;
}
.section-fotos{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}
.img-lugares{
    width: 220px;
    height: 330px;
    display: flex;
    object-fit: cover;
    border-radius: 10px;
}
.p-lugar{
    margin:5px 0;
}
h4{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.name-place{
    padding: 15px;
    position: absolute;
    background-color: white;
    bottom: -9px;
    left: -9px;
    border-radius: 10px;
}
.card{
    position: relative;
    width: 100%;
}



@media screen and (max-width:768px) {
    .menu{
        position: fixed;
        background-color: var(--collor-secundario);
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        text-align: center;
        padding: 100px 0;
        z-index: 20;
        flex-direction: column;
    }
    .menu li{
        padding: 15px;
        font-size:20px;
    }
    .btn-login, .btn-register{
        font-size:20px;
    }
    .hide-menu-btn{
        position: absolute;
        top: 35px;
        right: 30px;
        display: block;
    }
    .show-menu-btn{
        display: block;
    }
/* pseudoclase checked hace referencia si mi checbox esta activado  */
/* ~  hace referencia a los elementos indicados*/
    #check:checked ~ .menu{
        right: 0;
/* Header */
    }
    header{
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
    .header-contenido{
        /* height: 100%; */
        flex-direction: column;
        padding: 50px;
        margin:auto;
        width: 100%;
        justify-content: space-between;
        line-height: 60px;
    }
    .img-header{
        width: 75%;
        display: block;
        margin: auto;
    }
    .btn-search{
        width: auto;
        min-width: none;
        margin-top: 20px;
    }
}